.main-box {
    width: 88.75rem;
    height: 60.3125rem;
    flex-shrink: 0;
    border-radius: 4.8125rem;
    background: #FFF;
    box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.25);
}

.main-contents{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-left,
.main-right {
    flex: 1;
    margin-top: 17.44rem;
    margin-left: 8rem;
}

.title-top {
    color: #000;
    font-family: Pretendard;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.21875rem;
}

.title-bottom {
    color: #000;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0625rem;
    margin-top: 2.66rem;
}

.main-right img {
    width: 28.5485rem;
    height: 28.5485rem;
    flex-shrink: 0;
}

.arrow-button{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10.44rem;
}