/*mainFrame*/
.addrecipe-mainFrame {
    background-color: lightcoral;
}

/*subFrame*/
.addrecipe-subFrame {
    background-color: lightskyblue;
}

/*당신의 레시피를 소개해 주세요!*/
.recipe-title {
    color: #000;
    font-family: Pretendard;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*add-photo*/
.add-photo {
    width: 76.25rem;
    height: 21.4375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    border: 1.5px solid #8C8C8C;
    background: #FFF;
}

/*add-title*/
.add-title{ 
    background-color: aqua;
}

/*add-explan*/
.add-explan {
    background-color: lawngreen;
}

/*add-ingredient*/
.add-ingredient {
    background-color: lightgray;
}

/*detail-ingredient*/
.detail-ingredient{ 
    background-color: lightgoldenrodyellow;
}

/*add-step*/
.add-step {
    background-color: rgb(206, 151, 246);
}

/*add-type*/
.add-type {
    background-color: lightsalmon;
}

/*add-flavor*/
.add-flavor {
    background-color: lightslategray;
}

/*올리기*/
.add-button {
    width: 18.75rem;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button button {
    background: none;
    border: none;
    color: #FFF;
    font-family: Pretendard;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}