.cockList-box {
    width: 909px;
    height: 1720px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #D1D1D1;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.selectList-box {
    height: 132px;
}

.selectList-contents {
    padding-top: 38px;
    margin-bottom: 36px;
    margin-left: 38px;
}

.selectList-box::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #8C8C8C;
    margin-top: 10px;
}

.selectList-contents button {
    width: 169px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 0.5px solid #000;
    background: #FFF;
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;
}

.selectList-contents button.selected {
    border: 0.5px solid #E9F5FF;
    border-radius: 40px;
    background: #E9F5FF;
}

.cockList-contents li {
    margin-left: 63px;
    margin-right: 77px;
    margin-top: 41px;
    border-bottom: 1px solid #8C8C8C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cockList-contents-image {
    margin-left: 175px;
    max-width: 227px;
    max-height: 227px;
    width: auto;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 30%;
}

.user-profile-text {
    margin-left: 24px;
}

.cockList-contents-user-info {
    display: flex;
    align-items: center;
}

.user-profile-text p {
    margin: 0;
}

.user-profile-text #name {
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-profile-text #time {
    color: #8C8C8C;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cockList-Cockinfo-box {
    margin-left: 53px;
}

.cockList-Cockinfo-box #cock-name {
    color: #000;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cockList-Cockinfo-explan {
    margin-left: 35px;
}

.cockList-Cockinfo-explan #explan {
    color: #525252;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cockList-Cockinfo-explan #taste {
    width: 132px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1.5px solid #8C8C8C;
    background: #FFF;
    color: #525252;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cockList-Cockinfo-recommended {
    margin-top: 31px;
}

.cockList-Cockinfo-recommended button {
    border: none;
    margin-right: 22px;
    outline: none;
    background-color: transparent;
}

button.recommend-button {
    border: none;
    outline: none;
    background-color: transparent;
}

button.recommend-button.recommended {
    background-color: red;
    /* 추천된 상태일 때 배경색 임시!!*/
}

/* ...이전 CSS 스타일... 임시임시임시임시임시임시*/

.comment-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.comment-popup p {
    margin: 0;
    margin-bottom: 10px;
}

.comment-popup button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}