.header-detail{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;

    background-color: rgb(91, 150, 42); /*임시 영역 표시*/
}

.button-container-detail{
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    padding: 10px;
}

.header-detail .search-container input{
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}