.search-container {
    /*검색바 부모 설정*/
    position: relative;
    margin-right: 11.25rem;
}

.search-container input {
    /*검색바*/
    width: 515px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 27px;
    background: rgba(255, 255, 255, 0.59);
    backdrop-filter: blur(2px);
    position: relative;
    border: 0;
}

.search-container img {
    /*검색 이미지 안으로*/
    position: absolute;
    top: 10px;
    right: 12px;
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}

