.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    padding: 10px;
}

#LoginImage {
    /*로그인 카피바리*/
    width: 55px;
    height: 69px;
    flex-shrink: 0;
    margin-left: 40px;
}

.menu-container {
    position: fixed;
    top: 10px;
    left: 10px;
    bottom: 0;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}