@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

.Cock1 img {
    width: 100%;
    height: 100%;
}

.Cock1-text-box {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 500px;
    margin-left: 1000px;
    white-space: pre-line;
    /* 개행 문자(\n)를 줄바꿈으로 처리 */
}


.Cock1-title {
    color: #FFF;
    font-family: Poller One;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3.85px;
}

.Cock1-contents {
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 146.667% */
    width: 432px;
    height: 44px;
    margin-top: 26px;
}

.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




