.myCommunity-box {
    width: 466px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #D1D1D1;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.myCommunity-serve-box {
    margin-top: 35px;
    margin-left: 33px;
}

.myCommunity-serve-box #community-title {
    color: #A6A6A6;
    font-family: Pretendard;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.myPage-box {
    margin-top: 28.07px;
    display: flex;
    align-items: center;
}

.myPage-box #myPagegoButton {
    margin-left: auto;
    padding: 0;
    border: none;
    color: inherit;
    font: inherit;
    background: none;
    margin-right: 37px;
}

.userName-box {
    color: #000;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 28px;
}

.photo-box {
    width: 120.869px;
    height: 100px;
    margin-right: 17.07px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.photo-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

