.myPageContainer {
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
  display: flex; /* Add flex display */
  flex-direction: column; /* Arrange items vertically */
  align-items: left; /* Center align items horizontally */
  font-family: "Pretendard";
  margin-left: 23%;
  margin-right: 23%; 
}

.myPagePhotoContainer,
.myPageIDContainer,
.myPageNickNameContainer,
.myPagePhoneContainer,
.myPageSexContainer,
.myPagePWContainer,
.myPageBirthContainer {
    display: flex; /* Use flex display */
    flex-direction: row; /* Arrange items horizontally */
    justify-content: left; /* Center align items horizontally */
    align-items: center;
    margin-bottom: 50px;
    justify-content: flex-start;
}

.myPageTitle {
  color: #000000;
  text-align: left;
  font: 700 25px "Pretendard", sans-serif;
  position: relative;
  margin-bottom: 30px;
  margin-top: 10%;
}

.myPageID,
.myPagePW,
.myPageNickName,
.myPagePhoto,
.myPagePhone,
.myPageSex,
.myPageBirth {
  color: #000000;
  text-align: left;
  font: 600 15px "Pretendard", sans-serif;
  position: relative;
  margin-right: 10%;
}

.myPageFieldID,
.myPageFieldSex,
.myPageFieldBirth,
.myPageFieldPhoto {
  border: none;
  outline: none;
  color: #8c8c8c;
  font: 600 15px "Pretendard", sans-serif;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.myPageFieldPW,
.myPageFieldNickName,
.myPageFieldPhone {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 1.5px;
  width: 450px;
  height: 50px;
  position: relative;
  color: #8c8c8c;
  font: 400 15px "Pretendard", sans-serif;
  position: relative;
  padding-left: 15px;
  display: flex;
  justify-content: flex-end;
}

.myPageFieldPhoto {
  background: #d5d5d5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.myPageSaveButton {
  background: #000000;
  border-radius: 15px;
  width: 120px;
  height: 40px;
  position: relative;
  color: #ffffff;
  text-align: center;
  font: 700 15px "Pretendard", sans-serif;
  position: relative;
  margin-left: 50%;
  margin-bottom: 10%;
}

.myPageLink{
 margin-left: 4.5%;
}

.myPagePassWordSaveButton,
.myPageNickNameSaveButton,
.myPagePhoneSaveButton {
  background: #000000;
  border-radius: 15px;
  width: 80px;
  height: 40px;
  position: relative;
  color: #ffffff;
  margin-left:5%;
  font: 15px "Pretendard", sans-serif;
}