.popularTitle {
  margin-top: 5rem;
}
.popular-cocktails {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom : 5rem;
  }
  
  .cocktail-item {
    background: radial-gradient(
    closest-side,
    rgba(233, 245, 255, 1) 0%,
    rgba(233, 245, 255, 0) 100%
  );
  border-radius: 20px;
  width: 13rem;
  height: 19rem;
  position: relative;
  box-shadow: 0px 0px 30px 3px rgba(140, 140, 140, 0.17);
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .cocktail-title {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    color: #000000;
    text-align: center;
    font: 600 1.3rem "Pretendard", sans-serif;
    position: relative;
  }
  
  .cocktail-ranking {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 10px;
    color: #797979;
  text-align: center;
  font: 600 1.3rem "Pretendard", sans-serif;
  position: relative;
  }
  .cocktail-item img {
    margin-top: 10px;
    border-radius: 50%;
    max-width: 170px; /* Adjust the size of the circle as needed */
  }
  /* 카테고리 레이아웃 스타일 */
.categories-container {
  display: flex;
  gap: 10px;
  background: #ffffff;
  border-color: #a6a6a6;
  border-width: 1px;
  width: 100%; /* 조정 */
  max-width: 60%; /* 최대 폭 조정 */
  margin: 0 auto; /* 중앙 정렬 */
}

.category {
  border-radius: 5px;
  flex: 1;
  background: #f5fbfe;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 1rem "Pretendard", sans-serif;
  position: relative;
  height: 5rem;
  margin-bottom : 0.5rem;
}

.categories {
  flex: 6;
  display: flex;
  gap: 10px;
  background: #ffffff;
  border-style: solid;
  border-color: #a6a6a6;
  border-width: 1px;
  align-items: center;
  padding-left: 10px; /* 왼쪽 여백 추가 */
  font: 300 1rem "Pretendard", sans-serif;
  position: relative;
  border-radius: 5px;
  margin-bottom : 0.5rem;
}
.sort-container {
  display: flex;
  align-items: center; /* 수직 정렬 */
  gap: 10px; /* 아이템 사이 간격 */
}
.sort-options {
  margin-left:37%;
}
  .popularTitle {
    color: #000000;
    text-align: center; /* 가운데 정렬 */
    font: 700 50px "Pretendard", sans-serif;
    position: relative;
    text-align: center;
  }
  .more {
  color: #000000;
  text-align: right;
  margin-right: 20%;
  margin-bottom: 1.5rem;
  font: 300 15px "Pretendard", sans-serif;
  position: relative;
  }
  .cocktail-taste {
    color: #000000;
  text-align: center;
  font: 300 0.9rem "Pretendard", sans-serif;
  position: relative;
}
.arrow {
  margin-left: 0.5rem;
}
.categoryCocktail {
  color: #000000;
  text-align: left;
  font: 700 1.5rem "Pretendard", sans-serif;
  position: relative;
  margin-left: 22%;
  margin-top: 2rem;
}
.line{
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 1px 0 0 0;
  width: 100%;
  height: 0px;
  position: relative;
  margin-top: 1.4rem;
}
/* 칵테일 리스트 컨테이너 */
.cocktailBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 5rem;
  overflow-x: auto; /* 너비 초과 시 가로 스크롤 표시 */
}
/* 칵테일 리스트 아이템 컨테이너 */
.cocktail-list-item {
  display: flex;
  align-items: center; /* 아이템을 세로 중앙 정렬 */
  border-radius: 20px;
  width: 45rem;
  height: 10rem;
  position: relative;
  box-shadow: 0px 0px 30px 3px rgba(140, 140, 140, 0.17);
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px; /* 각 칵테일 사이의 간격 조정 */
}

/* 칵테일 포스터 */
.cocktail-poster {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.35);
  width: 8rem;
  height: 8rem;
  margin-right: 2rem; /* 포스터와 정보 사이 간격 조정 */
  margin-left: 2rem;
}

/* 칵테일 정보 컨테이너 */
.cocktail-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* 칵테일 제목 */
.cocktail-title2 {
  font-weight: bold;
  font-size: 1.6rem;
  color: #000000;
  font-family: "Pretendard", sans-serif;
  margin-bottom: 10px;
}

/* 칵테일 맛 정보 */
.cocktail-tastes {
  font-size: 0.9rem;
  color: #000000;
  font-family: "Pretendard", sans-serif;
  margin-bottom: 10px;
}

.add-recipe-button {
  position: fixed; /* 화면 스크롤에 영향을 받지 않도록 고정 위치 설정 */
  bottom: 50px; /* 하단 여백 조절 (원하는 위치로 조정 가능) */
  right: 100px; /* 오른쪽 여백 조절 (원하는 위치로 조정 가능) */
  background-color: #007bff; /* 배경색 설정 (원하는 색상으로 변경 가능) */
  color: #fff; /* 글자색 설정 (원하는 색상으로 변경 가능) */
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 둥근 모서리 설정 (원하는 값을 사용 가능) */
  padding: 10px 20px; /* 안쪽 여백 조절 (원하는 크기로 조정 가능) */
  cursor: pointer; /* 커서 스타일 설정 (원하는 스타일로 변경 가능) */
  z-index: 999; /* 다른 요소 위에 표시되도록 설정 */
}

/* 레시피 추가 버튼 호버 효과 (선택 사항) */
.add-recipe-button:hover {
  background-color: #0056b3; /* 호버 시 배경색 변경 (원하는 색상으로 변경 가능) */
}

.pagination-container{
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  position:relative;
  justify-content: center;
}

.pagination {
  color: #000000;
  text-align: left;
  font: 300 1rem "Pretendard", sans-serif;
  position: relative;
  margin-right: 1rem;
}
/* 즐겨찾기 버튼의 기본 스타일 */
.favorite-button {
  background-color: white;
  color: #f00; /* 빨간색 텍스트 색상 */
  border: 2px solid #f00; /* 빨간색 테두리 */
  padding: 5px 5px;
  cursor: pointer;
  margin-right: 2rem;
}

/* 즐겨찾기가 활성화된 경우의 스타일 */
.favorite-button.favorite {
  background-color: #f00; /* 빨간색 배경색 */
  color: white; /* 흰색 텍스트 색상 */
}