li {
  list-style-type: none;
}

ul.menu-list {
  margin: 0;
  padding: 0;
}

.about {
  color: #2070ad;
  text-align: left;
  font: 700 18px "Pretendard", sans-serif;
  position: absolute;
  left: 25px;
  top: 173px;
}

.community {
  color: #2070ad;
  text-align: left;
  font: 700 18px "Pretendard", sans-serif;
  position: absolute;
  left: 25px;
  top: 360px;
}

.my-page {
  color: #2070ad;
  text-align: left;
  font: 700 18px "Pretendard", sans-serif;
  position: absolute;
  left: 25px;
  top: 454px;
}

.recipe {
  color: #2070ad;
  text-align: left;
  font: 700 18px "Pretendard", sans-serif;
  position: absolute;
  left: 25px;
  top: 266px;
}

.login {
  color: #2070ad;
  text-align: left;
  font: 700 18px "Pretendard", sans-serif;
  position: absolute;
  left: 25px;
  top: 603px;
}

.join {
  color: #2070ad;
  text-align: left;
  font: 700 18px "Pretendard", sans-serif;
  position: absolute;
  left: 25px;
  top: 651px;
}



.content {
  margin-left: 30px;
}

.content-shifted {
  margin-left: 200px;
}



.collapse {
  transform: translateX(-100%);
}

.show {
  transform: translateX(0);
}






